.conteiner {
  height: 100%;
  width: 100%;
  position: absolute;
  align-items: center;
}
#usinnModeler {
  position: absolute;
  height: 176px;
  width: 237px;
  left: 560px;
  top: 98px;
}
.login {
  position: absolute;
  height: 25px;
  width: 115px;
  left: calc(50% - 115px / 2);
  top: 295px;
  border-radius: undefinedpx;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.375em;
  text-align: left;
  color: #1082ec;
}
.inputLoginEmail {
  position: absolute;
  height: 20px;
  width: 396px;
  left: calc(50% - 396px / 2 + 0.5px);
  top: 336px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid #1082ec;
  outline-color: red;
}
.inputLoginEmail::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #1082ec;
  position: absolute;
  left: 15px;
}
.inputLoginPassword {
  position: absolute;
  height: 20px;
  width: 396px;
  left: calc(50% - 396px / 2 + 0.5px);
  top: 374px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid #1082ec;
  outline-color: red;
}
.inputLoginPassword::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #1082ec;
  position: absolute;
  left: 15px;
}
.buttonLoginCancel {
  position: absolute;
  height: 23px;
  width: 92px;
  left: calc(50% - 70px / 2 - 45.5px);
  top: 436px;
  border-radius: 50px;
  border: 1px solid #adadad;
  background: #adadad;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
}
.buttonLoginConfirm {
  position: absolute;
  height: 23px;
  width: 92px;
  left: calc(50% - 70px/2 + 51.5px);
  top: 436px;
  border-radius: 50px;
  border: 1px solid #adadad;
  font-weight: normal;
  border: 1px solid #1082ec;
  background: #1082ec;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
}
