
  .password-toggle-container .icon {
    position: absolute;
    right: 0%;
    transform: translateY(-160%) translateX(-150%);
    cursor: pointer;
    font-size: 1.3em;
    transition: opacity 1.5s;

  }
  .eyeicon-active{
    top:36%
  }