@import '../../assets/styles/variables'; 

#update {
    min-height: 100%;
    position: relative; 
    
    #content{

        @media (min-width: 992px) {
            
            #gray-area {
                position: relative;
                width: 110% !important;
                max-width: none;
                margin-left: 50%;
                transform: translate(-50%,0);
                padding: 0 8%;
                height: 70px;
                border-radius: 10rem;
                background-color: #d9d9dd;

                .form-control:not(.is-invalid), .form-select:not(.is-invalid) {
                    border-color: #959595;
                    &:focus {
                        border-color: darken($gray-900, 15%);
                    }
                }
            }
        }
        
    }

    #loadingOverlay {
        display: none;

        &.open{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            min-height: 100%;
            background-color: rgba(0,0,0,0.35);
        }
    }

    
}