.conteinerRegister {
  height: 100%;
  width: 100%;
  position: absolute;
  align-items: center;
}
.navBarRegister {
  left: -7px;
  top: -10px;
  height: 52px;
  width: 100%;
  position: absolute;
  background: #1082ec;
}
#usinnModelerRegister {
  position: absolute;
  height: 176px;
  width: 237px;
  left: 560px;
  top: 98px;
}
.register {
  position: absolute;
  height: 15px;
  width: 197px;
  left: calc(50% - 197px / 2 + 6px);
  top: 282px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.375em;
  text-align: left;
  color: #1082ec;
}
.inputName {
  position: absolute;
  height: 20px;
  width: 396px;
  left: calc(50% - 396px / 2 + 0.5px);
  top: 336px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid #1082ec;
  outline-color: red;
}
.inputName::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #1082ec;
  position: absolute;
  left: 15px;
}
.inputEmailRegister {
  position: absolute;
  height: 20px;
  width: 396px;
  left: calc(50% - 396px/2 + 0.5px);
  top: 374px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid #1082ec;
  outline-color: red;
}
.inputEmailRegister::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #1082ec;
  position: absolute;
  left: 15px;
}
.inputPasswordRegister {
  position: absolute;
  height: 20px;
  width: 183px;
  left: calc(50% - 183px/2 - 106px);  
  top: 413px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid #1082ec;
  outline-color: red;
}
.inputPasswordRegister::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #1082ec;
  position: absolute;
  left: 15px;
}
.inputCompany {
  position: absolute;
  height: 20px;
  width: 183px;
  left: calc(50% - 183px/2 - 106px);
  top: 451px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid #1082ec;
  outline-color: red;
}
.inputCompany::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #1082ec;
  position: absolute;
  left: 15px;
}
.inputOffice {
  position: absolute;
  height: 20px;
  width: 183px;
  left: calc(50% - 183px/2 + 107px);
  top: 451px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid #1082ec;
  outline-color: red;
}
.inputOffice::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #1082ec;
  position: absolute;
  left: 15px;
}
.buttonCancelRegister {
  position: absolute;
  height: 23px;
  width: 92px;
  left: calc(50% - 92px/2 - 45.5px);
  top: 494px;
  border-radius: 50px;
  border: 1px solid #adadad;
  background: #adadad;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
}
.buttonConfirmRegister {
  position: absolute;
  height: 23px;
  width: 92px;
  left: calc(50% - 92px/2 + 57.5px);
  top: 494px;
  border-radius: 50px;
  border: 1px solid #1082ec;
  background: #1082ec;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
}
