.register .icon{
  position: absolute;
  right: 25px;
  top: 0;
  color: #13528E;
  cursor: pointer;
  font-size: 1.3em;
}
.register .reyeicon-active{
  top: 1px;
  margin-right: 15px;
}


@import "../../assets/styles/_variables.scss";

input::placeholder, select option{
  color: $gray-900;
}


@media (max-width: 991px) {
  #gray-area .position-absolute {
      position: unset !important;
  }
}

@media (min-width: 992px) {
  #gray-area {
    position: relative;
    width: 113% !important;
    max-width: none;
    margin-left: 50%;
    transform: translate(-50%, 0);
    padding: 0 8%;
    height: 70px;
    border: 1px $gray-900 solid;
    border-radius: 10rem;
    background-color: #d9d9dd;

    .form-control:not(.is-invalid),
    .form-select:not(.is-invalid) {
      border-color: #959595;
      &:focus {
        border-color: darken($gray-900, 15%);
      }
    }
  }
}
