@import "../../assets//styles/variables";

#profileImg {
    text-align: center;
    line-height:40px;
    width: 40px;
    height: 40px;
    background-color: rgba(16, 130, 236, .4);
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
}

.dropdown-item{
    &:hover, &:focus{
        background-color: $primary !important;
        color: #ffffff !important;  
    }
}