@import '../../assets/styles/variables';

#diagram-card {
    transition: all 300ms;
    
    &:hover {
        border-color: $primary;
        // transform: scale(1.02);
        .card-header {
            border-color: $primary;
        }
    }

    .card-body {
        max-height: 160px;
        min-height: 160px;
        img {
            height: 100%;
            object-fit: contain;
        }
    }

    .dropdown .dropdown-toggle::after {
        display: none;
    }
}