#actionsMenu {
    position: relative;
    z-index: 2;
}

#graph {
    background: url('../../../public/images/grid.gif');
    overflow: hidden;
}

#zoomActions {
    width:100%;
    padding-left:54px;
    padding-top:4px;
}

#outlineContainer {
    position:absolute;
    overflow:hidden;
    bottom:20px;
    right:20px;
    width:200px;
    height:140px;
    background:white;
    border-style:solid;
    border-color:black;
}