.toast-container {
    width: 380px !important;
    position: fixed !important;
}

.toast-popup {
    font-family: 'Roboto';
    border-radius: 8px;
    box-shadow: none !important;
    display: flex !important;
    align-items: center;
    overflow-y: visible !important;
    margin-top: 70px;
}

.toast-content {
    font-size: 16px !important;
    line-height: inherit;
}

.toast-close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 25px !important;
    font-weight: bolder;
    color: #ffffff !important;
    width: 20px !important;
    height: 20px !important;
}

.toast-close:hover {
    background: #959595;
    color: #ffffff !important;
}

.toast-progressbar {
    background-color: #ffffff !important;
}

.delete {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/icons/pop-up/delete.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.aviso {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/icons/pop-up/aviso.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.checkCircle {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/icons/pop-up/CheckCircle.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.dataBase {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/icons/pop-up/database-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.email {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/icons/pop-up/email.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.errorWifi {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/icons/pop-up/error-wifi-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.errorCircle {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/icons/pop-up/ErrorCircle.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.share {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/icons/pop-up/share.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.user {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/icons/pop-up/user.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.key {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/icons/pop-up/key.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.errorServer {
    width: 40px;
    height: 40px;
    background-image: url('../../assets/icons/pop-up/error-wifi-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.no-border{
    border: 0 !important;
}