@import "../../../assets/styles/variables";

#notification {
  .not-item{
    &:hover, &:focus{
      background-color: $primary !important;
      color: #ffffff !important;
        span button{
          color: #ffffff !important;
        }
    }
    button{
      &:focus{
        background-color: $primary !important;
        color: #ffffff !important;
      }
      &:hover{
        background-color: #ffffff !important;
        color: $primary !important;
      }
    }
    &:hover{
      button:focus{
        background-color: #ffffff !important;
        color: $primary !important;
      }
    }
  }
  div div:not(.spinner, .btn-group) {
    width: 100% !important;
    max-width: 100vw !important;
  
    &:nth-child(1) {
      border-top: 1px #000000 solid !important;
    }
  }
  .btn-group {
    background-color: rgba(0, 0, 0, 0.1);
    button {
      border: 2px transparent solid;
      &:not(.active):focus {
        border: 2px #000000 solid;
      }
      &.active:focus {
        border: 2px #ffffff solid;
      }
    }
  }
  a {
    &:focus,
    &:hover {
      background-color: $primary;
      color: #ffffff;
    }
  }
  .reader {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  .cursor-default {
    cursor: default !important;
  }
}
