
.DeleteAccountModal .deyeicon {
  position: absolute;
  right: 30px;
  top:15px;
  color: #13528E;
  cursor: pointer;
  font-size: 1.3em;
}
.DeleteAccountModal .deyeicon-active{
  top:17px;
  margin-right: 15px;
}