.navBar {
  left: -7px;
  top: -10px;
  height: 52px;
  width: 100%;
  position: absolute;
  background: #1082ec;
}
#logoUsinn {
  position: absolute;
  left: 1200px;
  top: 26px;
  border-radius: 0px;
}
#returnIcon {
  position: absolute;
  width: 20px;
  left: 20px;
  top: 26px;
}
