@import "../../assets//styles/variables";

#profileImg {
    text-align: center;
    line-height:40px;
    width: 40px;
    height: 40px;
    background-color: rgba(16, 130, 236, .4);
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
}

.dropdown-item{
    &:hover, &:focus{
        background-color: $primary !important;
        color: #ffffff !important;  
    }
}

#dropdownMenuButton{
    @media screen and (max-width:1370px) {
        max-width: 700px;
    }
    @media screen and (max-width:1240px) {
        max-width: 500px;
    }
    @media screen and (max-width:1040px) {
        max-width: 300px;
    }
    @media screen and (max-width:600px) {
        max-width: 200px;
    }
    @media screen and (max-width:470px) {
        max-width: 100px;
    }
    @media screen and (max-width:370px) {
        max-width: 80px;
    }
}
