$min-contrast-ratio:   3;
$enable-negative-margins: true;

$gray-100: #F5F5F5; //branco-neve
$gray-300: #D9D9D9; //cinza claro
$gray-600: #959595; //cinza médio
$gray-900: #535353; //cinza escuro

$primary: #1082EC;
$secondary: #535353;
$danger: #EA5B5B;
$success: #4ECB71;

$body-bg: $gray-100;

$font-family-base: 'Roboto';
$font-size-base: .875rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 700;

$input-bg: transparent;
$input-padding-y: .25rem;
$input-padding-x: 0;
$input-border-radius: 0;
$input-border-width: 2px;
$input-color: $gray-900;
$input-border-color: $gray-300;
$input-focus-border-color: $gray-600;
$input-focus-box-shadow: 0;
$input-placeholder-color: $gray-600;
$input-disabled-bg: transparent;

$form-select-border-radius: 0;
$form-select-focus-box-shadow: 0;

$form-check-input-border: 2px solid $gray-300;
$form-check-input-border-radius:  0;

$btn-font-size       : 1rem;
$btn-padding-y       : 8px;
$btn-padding-x       : 2.5rem;
$btn-padding-y-lg    : 15px;
$btn-padding-x-lg    : 2.5rem;
$btn-border-radius   : 8px;
$btn-border-radius-lg: 8px;
$btn-focus-box-shadow: none;
$btn-font-weight     : 500;

$card-border-color: $gray-600;
$card-border-radius: 8px;
