@import "variables";
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  -webkit-font-smoothing: antialiased;
}

.forms-title {
  font-size: 16px;

  color: $primary;
  line-height: 16px;
  letter-spacing: 0.375em;
}
.bloco {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
#section1 {
  background-color: #1082ec;
  text-align: center;
}
#section2 {
  background-color: white;
}
#section3 {
  background-color: white;
}
#title_section1 {
  position: absolute;
  width: 476px;
  height: 42px;
  left: 450px;
  top: 182px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 72px;  
  color: #ffffff;
}
#text_section1 {
  position: absolute;
  width: 385px;
  height: 69px;
  left: 484px;
  top: 255px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #ffffff;
}
